{% extends 'base.html.twig' %}

{% block title %}Точки{% endblock %}

{% block body_title %}Точки{% endblock %}
{% block table_title %}Список точек{% endblock %}
{% block body_action_url %}{{ path('point_new') }}{% endblock %}
{% block body_action_title %}Создать точку{% endblock %}
{% block table_content %}
    <thead>
    <tr>
        <th>Id</th>
        <th>Широта</th>
        <th>Долгота</th>
        <th>Тип</th>
    </tr>
    </thead>
    <tbody>
    {% for point in points %}
        <tr>
            <td><a href="{{ path('point_edit', {'id': point.id}) }}">{{ point.id }}</td>
            <td>{{ point.latitude}}</td>
            <td>{{ point.longitude }}</td>
            <td>{{ point.type}}</td>
        </tr>
    {% else %}
        <tr>
            <td colspan="6">no records found</td>
        </tr>
    {% endfor %}
    </tbody>
{% endblock %}
