{% extends 'base.html.twig' %}

{% block title %}Point{% endblock %}

{% block body %}
    <h1>Point</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ point.id }}</td>
            </tr>
            <tr>
                <th>Latitude</th>
                <td>{{ point.latitude }}</td>
            </tr>
            <tr>
                <th>Longitude</th>
                <td>{{ point.longitude }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ point.type }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('point_index') }}">back to list</a>

    <a href="{{ path('point_edit', {'id': point.id}) }}">edit</a>

    {{ include('point/_delete_form.html.twig') }}
{% endblock %}
