{% extends 'base.html.twig' %}

{% block title %}Национальные проекты{% endblock %}

{% block body_title %}Национальные проекты{% endblock %}
{% block table_title %}Список нац. проектов{% endblock %}
{% block body_action_url %}{{ path('national_program_new') }}{% endblock %}
{% block body_action_title %}Создать национальный проект{% endblock %}
{% block table_content %}
    <thead>
    <tr>
        <th>Id</th>
        <th>Название</th>
        <th>Приоритет</th>
    </tr>
    </thead>
    <tbody>
    {% for np in national_programs %}
        <tr>
            <td><a href="{{ path('national_program_edit', {'id': np.id}) }}">{{ np.id }}</td>
            <td>{{ np.name}}</td>
            <td>{{ np.priority }}</td>
        </tr>
    {% else %}
        <tr>
            <td colspan="6">no records found</td>
        </tr>
    {% endfor %}
    </tbody>
{% endblock %}
