{{ form_start(form) }}
<h3>points</h3>
<ul class="points" data-prototype="{{ form_widget(form.points.vars.prototype)|e('html_attr') }}">
    {# iterate over each existing point and render its only field: name #}
    {% for point in form.points %}
        <li>{{ form_row(point.latitude) }}</li>
        <li>{{ form_row(point.longitude) }}</li>
        <li>{{ form_row(point.type) }}</li>
        <li>{{ form_row(point.layouts) }}</li>
    {% endfor %}
</ul>

{{ form_widget(form) }}
<button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}

