{% extends 'base.html.twig' %}

{% block title %}Велосипедные дорожки{% endblock %}

{% block body_title %}Велосипедные дорожки{% endblock %}
{% block table_title %}Список дорожек{% endblock %}
{% block body_action_url %}{{ path('route_new') }}{% endblock %}
{% block body_action_title %}Создать дорожку{% endblock %}
{% block table_content %}
        <thead>
            <tr>
                <th>Id</th>
                <th>Расстояние</th>
                <th>Стоимость</th>
                <th>Priority</th>
                <th>Проходимость</th>
            </tr>
        </thead>
        <tbody>
        {% for route in routes %}
            <tr>
                <td><a href="{{ path('route_edit', {'id': route.id}) }}">{{ route.id }}</td>
                <td>{{ route.length }}</td>
                <td>{{ route.cost }}</td>
                <td>{{ route.priority }}</td>
                <td>{{ route.traffic }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
{% endblock %}
