<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
{% block navigation %}
    <a href="{{ path('user_index') }}">Пользователи</a>
    <a href="{{ path('point_index') }}">Точки</a>
    <a href="{{ path('route_index') }}">Маршруты</a>
    <a href="{{ path('layout_index') }}">Слои</a>

{% endblock %}
{% block body %}{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
