{% extends 'base.html.twig' %}

{% block title %}Layout index{% endblock %}

{% block body %}
    <h1>Layout index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for layout in layouts %}
            <tr>
                <td>{{ layout.id }}</td>
                <td>{{ layout.name }}</td>
                <td>
                    <a href="{{ path('layout_show', {'id': layout.id}) }}">show</a>
                    <a href="{{ path('layout_edit', {'id': layout.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('layout_new') }}">Create new</a>
{% endblock %}
